attrs==23.2.0 ; python_version >= "3.12" and python_version < "3.14"
certifi==2025.10.5 ; python_version >= "3.12" and python_version < "3.14"
cftime==1.6.4.post1 ; python_version >= "3.12" and python_version < "3.14"
click==8.3.0 ; python_version >= "3.12" and python_version < "3.14"
cloudpickle==3.1.1 ; python_version >= "3.12" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.14" and (platform_system == "Windows" or sys_platform == "win32")
dask-expr==1.1.21 ; python_version >= "3.12" and python_version < "3.14"
dask==2024.12.1 ; python_version >= "3.12" and python_version < "3.14"
dbdreader==0.5.8 ; python_version >= "3.12" and python_version < "3.14"
fsspec==2025.9.0 ; python_version >= "3.12" and python_version < "3.14"
gsw==3.6.20 ; python_version >= "3.12" and python_version < "3.14"
iniconfig==2.1.0 ; python_version >= "3.12" and python_version < "3.14"
locket==1.0.0 ; python_version >= "3.12" and python_version < "3.14"
lz4==4.4.4 ; python_version >= "3.12" and python_version < "3.14"
natsort==8.4.0 ; python_version >= "3.12" and python_version < "3.14"
netcdf4==1.7.2 ; python_version >= "3.12" and python_version < "3.14"
numpy==2.2.6 ; python_version >= "3.12" and python_version < "3.14"
packaging==25.0 ; python_version >= "3.12" and python_version < "3.14"
pandas==2.3.3 ; python_version >= "3.12" and python_version < "3.14"
partd==1.4.2 ; python_version >= "3.12" and python_version < "3.14"
pluggy==1.6.0 ; python_version >= "3.12" and python_version < "3.14"
pyarrow==21.0.0 ; python_version >= "3.12" and python_version < "3.14"
pygments==2.19.2 ; python_version >= "3.12" and python_version < "3.14"
pytest==8.4.2 ; python_version >= "3.12" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.14"
pytz==2025.2 ; python_version >= "3.12" and python_version < "3.14"
pyyaml==6.0.3 ; python_version >= "3.12" and python_version < "3.14"
scipy==1.16.2 ; python_version >= "3.12" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.12" and python_version < "3.14"
toolz==1.0.0 ; python_version >= "3.12" and python_version < "3.14"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "3.14"
xarray==2024.11.0 ; python_version >= "3.12" and python_version < "3.14"
